/* Colocando a div com position: relative para os botões ficarem posicionados de aconde com a div como
        referência */

        *{
            margin:0;
            padding:0;
            
        }

        body
        {
            overflow:hidden;
        }

        .mapa
        {
            position: relative;
        }

        /* Colocando os botões com posição absoluta, para ocuparem uma posição específica */

        /* Uso de top e left para o posicionamento dos botões, usando a % para a responsividade */


        .nivel1
        {
            position: absolute;
            top: 60%;
            left: 75%;
            padding:5px;
            cursor:pointer;
            transition:0.3s;

        }
        
        .nivel1:hover{
            background:rgba(255, 255, 255, 0);
            transform:scale(1.05);

        }

        .nivel2{
            cursor:pointer;
            transition:0.3s;
        }

        .nivel2:hover{
            background:rgba(255, 255, 255, 0);
            transform:scale(1.05);
        }

        .nivel3{
            cursor:pointer;
            transition:0.3s;
        }


