/* Colocando a div com position: relative para os botões ficarem posicionados de aconde com a div como
        referência */

        .mapa
        {
            position: relative;
        }

        /* Colocando os botões com posição absoluta, para ocuparem uma posição específica */

        /* Uso de top e left para o posicionamento dos botões, usando a % para a responsividade */

        .nivel3
        {
            position: absolute;
            top: 20%;
            left: 20%;
        }

        .nivel2
        {
            position: absolute;
            top: 60%;
            left: 18%;
        }

        .nivel1
        {
            position: absolute;
            top: 60%;
            left: 75%;
        }

        /* Estilização geral dos botões */

        button
        {
            font-family: 'Cinzel', serif;
            font-weight: 700;
            color:#4A5A2A;
            background-color:#D69F3F;
            border-radius: 10px;
        }
