*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    min-height:100vh;

    font-family:"Orbitron",sans-serif;

    background:
    linear-gradient(
        rgba(2,10,25,.35),
        rgba(0,20,40,.75)
    ),
    url("../img/jogo/img_fundo.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;

    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 10px;
    overflow-x:hidden;
}

#areaJogo{
    width:100%;

    max-width:1400px;

    display:flex;

    justify-content:space-between;

    align-items:flex-start;

}

#titulo{
    display:block;

    width:600px;

    max-width:90vw;

    margin:0 auto 20px auto;
}

.info-container{

    display:flex;

    flex-wrap:wrap;

    justify-content:center;

    gap:15px;

    margin-bottom:25px;
}

h2{

    width:100%;

    padding:15px;

    font-size:1rem;

    font-family:'Times New Roman', Times, serif;
    background:#196ea0ba;

    border:2px solid rgb(0, 0, 0);

    color:white;
}

span{

    color:#efeee4;

    font-weight:700;
}

#areaVidas{

    display:flex;

    justify-content:center;

    align-items:center;

    padding:12px;

    margin-bottom: 20px;
    
    border-radius:5px;

    border:2px solid rgb(0, 0, 0);
}

#vidasTabela{

    border-collapse: separate;

    border-spacing: 8px;
}

#vidasTabela img{

    width:40px;

    height:40px;

    transition:0.3s;

    filter:
    drop-shadow(0 0 8px rgb(0, 0, 0));
}

#tabuleiro{
     margin-top:0;

    margin-left:40px;

    border-collapse:collapse;

    background-image:url("../img/jogo/1.png");

    background-size:cover;

    background-position:center;

    border:2px solid black;

    box-shadow:
        0 0 35px rgba(0,0,0,.5);
}

#tabuleiro td{

    width:55px;
    height:55px;

    border:1px solid #000000;

    transition:.25s;
}

#tabuleiro img{
    width:100%;

    height:100%;

    object-fit:contain;

    display:block;
}

button{

    margin-top:20px;

    padding:14px 35px;

    border:none;

    border-radius:30px;

    font-size:1rem;

    font-weight:700;

    color:#002b36;

    background:
    linear-gradient(
        135deg,
        #ff0000,
        #002fff
    );

    cursor:pointer;

    transition:.3s;

    box-shadow:
    0 0 20px rgba(255,224,102,0.5);
}

button:hover{

    transform:translateY(-4px);

    box-shadow:
    0 0 30px rgba(255,224,102,0.9);
}

button:active{

    transform:scale(.95);
}

#overlay{

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.584);

    display: none;

    justify-content: center;
    align-items: center;

    z-index: 9999;

    backdrop-filter: black(3px);
}

#janelaFinal{

    width: 500px;

    padding: 40px;

    border-radius: 5px;

    text-align: center;

    background:
    linear-gradient(
        80deg,
        rgba(57, 130, 207, 0.98),
        rgba(25, 74, 148, 0.98)
    );

    border: 3px solid #ffffff;

    box-shadow:
    0 0 25px rgba(20, 80, 129, 0.5)

    animation: aparecer 0.5s ease;
}

#textoFinal{

    font-size: 3rem;

    font-weight: bold;

    color: #ffffff;

    margin-bottom: 25px;
}

#janelaFinal p{

    color: white;
    
    font-family: 'Times New Roman', Times, serif;

    font-size: 1.1rem;

    margin-bottom: 25px;
}

#janelaFinal button{

    padding: 14px 35px;

    border: 1px solid #ffffff;

    border-radius: 30px;

    font-size: 1rem;

    font-weight: bold;

    background:
    linear-gradient(
        135deg,
        #cb261d,
        #a8251e
    );

    color: #020508;

    cursor: pointer;

    transition: 0.3s;
}

#janelaFinal button:hover{

    transform: scale(1.08);

    box-shadow:
    0 0 20px rgba(32, 147, 192, 0.8);
}

@keyframes aparecer{

    from{

        opacity: 0;

        transform:
        scale(0.7)
        translateY(-30px);
    }

    to{

        opacity: 1;

        transform:
        scale(1)
        translateY(0);
    }
}

body::before{

    content:"";

    position:fixed;

    inset:0;

    pointer-events:none;

    background:
    radial-gradient(
        circle at 20% 20%,
        rgba(255,255,255,0.15),
        transparent 2%
    ),
    radial-gradient(
        circle at 70% 30%,
        rgba(255,224,102,0.2),
        transparent 2%
    ),
    radial-gradient(
        circle at 40% 80%,
        rgba(255,255,255,0.12),
        transparent 2%
    );

}


@media(max-width:1100px){
      body{

        overflow:auto;
    }

    #areaJogo{

        flex-direction:column;

        align-items:center;

        gap:30px;
    }

    #tabuleiro{

        margin-left:0;
    }

    .painel{

        width:90%;

        max-width:500px;
    }
}

@media(max-width:700px){

    #titulo{

        width:300px;
    }

    #tabuleiro td{

        width:34px;
        height:34px;
    }

    #tabuleiro img{

        width:34px;
        height:34px;
    }

    .painel{

        width:100%;
    }

    #janelaFinal{

        width:95%;
    }
}

.painel{

    width:320px;

    display:flex;

    flex-direction:column;

    gap:15px;

    padding:20px;

    backdrop-filter:blur(10px);

    border-radius:5px;

    border:1px solid rgba(0, 0, 0, 0.814);

    box-shadow:0 0 20px rgba(0, 0, 0, 0.4);
}

#btnNovoJogo{

    width:100%;

    margin-top:10px;
}