/* Colocando a div com position: relative para os botões ficarem posicionados de aconde com a div como
        referência */

        *{
            margin:0;
            padding:0;
            
        }

        /*estilizando e posicionando o botão do áudio*/

        .audio{
            position:absolute;
            top:20px;
            left:20px;
            color:aliceblue;
            background-color:#b93613;
            width:50px;
            height:25px;
            border:none;
            border-radius:10px;
        }

        body
        {
            height:100%;
            width:100%;
            overflow:hidden;
            font-weight:700;
            font-family: "Great Vibes", cursive;
        }

        .mapa
        {
            position: relative;
            width:100vw;
            height:100vh;
        }

        .mapa img:first-child
        {
            width:100%;
            height: 100%;
            object-fit:cover;
        }

        /* Colocando os botões com posição absoluta, para ocuparem uma posição específica */

        /* Uso de top e left para o posicionamento dos botões, usando a % para a responsividade */


        .nivel1
        {
            position: absolute;
            top: 60%;
            left: 75%;
            padding:5px;
            cursor:pointer;
            transition:0.3s;

        }

        .nivel1:hover{
            background:rgba(255, 255, 255, 0);
            transform:scale(1.05);

        }

        .nivel2{
            cursor:pointer;
            transition:0.3s;
        }

        .nivel2:hover{
            background:rgba(255, 255, 255, 0);
            transform:scale(1.05);
        }

        .nivel3{
            cursor:pointer;
            transition:0.3s;
        }

        .nivel3:hover{
            background:rgba(255, 255, 255, 0);
            transform:scale(1.05);
        }

        /*Estilos para telas maiores (desktop)*/

        @media (min-width: 1025px) and (max-width: 1599px){

        .nivel1
        {
            position: absolute;
            width: 8%;
            height: auto;
            top: 46%;
            left: 13%;

        }

        .nivel1-text
        {
            position: absolute;
            top: 60%;
            left: 14%;
            color:#4b2e0d;
            font-weight:bold;
            font-size: 50px;
        }

        .nivel2
        {
            position: absolute;
            width: 8%;
            height: auto;
            top: 12%;
            left: 5%;

        }

        .nivel2-text
        {
            position: absolute;
            top: 7%;
            left: 5%;
            color:#4b2e0d;
            font-weight:bold;
            font-size: 50px;
        }

        .nivel3
        {
            position: absolute;
            width: 8%;
            height: auto;
            top: 27%;
            left: 90%;

        }

        .nivel3-text
        {
            position: absolute;
            top: 30%;
            left: 79%;
            color:#4b2e0d;
            font-weight:bold;
            font-size: 50px;
        }
    
        }

        @media (min-width: 769px) and (max-width: 1024px){

        .nivel1
        {
            position: absolute;
            width: 8%;
            height: auto;
            top: 11.2%;
            left: 16.5%;

        }

        .nivel1-text
        {
            position: absolute;
            top: 15%;
            left: 4%;
            color:#4b2e0d;
            font-weight:bold;
            font-size: 50px;
        }


        .nivel2
        {
            position: absolute;
            width: 8%;
            height: auto;
            top: 4.5%;
            left: 80%;

        }

        .nivel2-text
        {
            position: absolute;
            top: 6%;
            left: 65%;
            color:#4b2e0d;
            font-weight:bold;
            font-size: 50px;
        }

        .nivel3
        {
            position: absolute;
            width: 8%;
            height: auto;
            top: 69%;
            left: 79%;

        }

        .nivel3-text
        {
            position: absolute;
            top: 66%;
            left: 65%;
            color:#4b2e0d;
            font-weight:bold;
            font-size: 50px;
        }
    
        }

        /*Estilo para telas de tablet (largura até 768px) */

        @media (max-width: 768px){

        .nivel1
        {
            position: absolute;
            width: 8%;
            height: auto;
            top: 21%;
            left: 5%;

        }

        .nivel1-text
        {
            position: absolute;
            top: 8%;
            left: 12%;
            color:#4b2e0d;
            font-weight:bold;
            font-size: 50px;
        }

        .nivel2
        {
            position: absolute;
            width: 8%;
            height: auto;
            top: 5%;
            left: 85%;

        }

        .nivel2-text
        {
            position: absolute;
            top: 6%;
            left: 65%;
            color:#4b2e0d;
            font-weight:bold;
            font-size: 50px;
        }

        .nivel3
        {
            position: absolute;
            width: 8%;
            height: auto;
            top: 65%;
            left: 80%;

        }

        .nivel3-text
        {
            position: absolute;
            top: 53%;
            left: 76%;
            color:#4b2e0d;
            font-weight:bold;
            font-size: 50px;
        }
    
        }

        /*Estilo para telas de celular (largura até 480px portrait)*/

        @media (min-width: 480px) and (max-width: 767px){
            
            .nivel1
        {
            position: absolute;
            width: 8%;
            height: auto;
            top: 21%;
            left: 5%;

        }

        .nivel1-text
        {
            position: absolute;
            top: 22%;
            left: 28%;
            color:#4b2e0d;
            font-weight:bold;
            font-size: 50px;
        }
        }

        .nivel2
        {
            position: absolute;
            width: 8%;
            height: auto;
            top: 5%;
            left: 85%;

        }

        .nivel2-text
        {
            position: absolute;
            top: 6%;
            left: 60%;
            color:#4b2e0d;
            font-weight:bold;
            font-size: 50px;
        }



