*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}


body{
    height:100vh;
    overflow:hidden;
}


/* fundo */
.video-fundo{
    position:fixed;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-1;
}


/* conteúdo */
.container{
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
}


/* titulo */
.titulo{
    width:1000px;
    margin-top:0px;
}


/* botões */
.botoes{

    display:flex;
    gap:80px;

    margin-top:30px;
}


button{

    width:250px;
    height:60px;

    border:none;
    border-radius:40px;

    background:rgba(255,255,255,0.45);

    font-family:'Poppins', sans-serif;
    font-size:24px;
    font-weight:700;

    cursor:pointer;

    transition:0.3s;
}


button:hover{

    background:rgba(255,255,255,0.75);
    transform:scale(1.05);

}
